@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

header{
  text-align: center;
}

h1.pageTitle{
  font-family: Nunito;
  font-size: 50px;
  color: #ff7575;
}


.infoContainer{
  width: 60%;
  margin: 0px auto;
}
